#home_nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
ul li {
  margin: 20px;
  position: relative;
}
.dropdown-makeup ul {
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column !important;
  /* border: 1px solid green; */
  padding: 0;
}
.dropdown-makeup ul li {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
}
.dropdown-makeup {
  display: none;
}
li:hover > .dropdown-makeup {
  display: block;
}