.main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px;
    margin: 5% 10% 0% 5%;
     grid-template-areas: 
     "a a a b b b c c c d d d";
   
}
#A{
    background-color:#a263f3;   
    grid-area: a;
    border-radius: 5px;
    padding: 4px 20px 10px 50px ;
}
#A:hover{
   background-color: #b183ec;
}

#B{
    background-color: #15e033;   
    grid-area: b;
    border-radius: 5px;
    padding: 4px 20px 10px 32px ;
}
#B:hover{
   background-color:#6bfa80;
}

.main :nth-child(3){
    background-color: #f00a11;
    grid-area: c;
    border-radius: 10px;
    padding: 4px 20px 10px 32px ;
}
.main:nth-child(3):hover{
   background-color:#dd6c55;
}
.main:nth-child(4){
    background-color:#40a3e0;
    grid-area: d;
    border-radius: 5px;
 padding: 4px 20px 10px 32px ; 
}
.main:nth-child(4):hover{
   background-color:#7ac2ee;
}
a{
   text-decoration: none;
   color: rgb(243, 217, 217);
}
/* Small Screen */
@media only  screen  and (min-width: 0px) and (max-width: 320px){
      .main{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: 110px;
         margin: 5% 10% 0% 5%;
          grid-template-areas: 
          "a a a a a a a a a a a a"
          "b b b b b b b b b b b b"
          "c c c c c c c c c c c c";
        
     }
  }
   
   /* Medium Screen */
   
   @media only screen and (min-width: 321px) and (max-width: 720px){
   .main{ 
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: 300px ;
   
   }

}

.icon{
   margin: 30px 20px -40px 55px;
   font-size: 16px;
   font-weight: 500;
   color: gray;
 }
  .icon a {
      border: 0px;
      background-color: white;
      color: black;
      
    }
    .icon a:hover{
     color: gray;
    }
    .name{
      color: rgb(241, 63, 212);
      font-size: 20px;
    }
    #img{
      height: 30%;
      width: 40%;
     margin-left: 400px;
     margin-top: -100px;
  }
  #text1{
      margin-left: 130px;
      color: rgb(94, 86, 86);
  }
  #text2{
      margin-left: 130px;
      font-weight: 800px;
      color: rgb(94, 86, 86);
  }
  #sub{
      background-color: #fc2779;
      color: white;
      margin-top: 20px;
      padding: 10px 25px 10px 25px;
      border: 0px;
      border-radius: 2px;
  }
  #sub:hover{
      background-color: violet;
  }