.main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px;
    margin: 5% 10% 0% 5%;
     grid-template-areas: 
     "a a a b b b c c c d d d";
   
}
#A{
    background-color:#a263f3;   
    grid-area: a;
    border-radius: 5px;
    padding: 4px 20px 10px 50px ;
}
#A:hover{
   background-color: #b183ec;
}

#B{
    background-color: #15e033;   
    grid-area: b;
    border-radius: 5px;
    padding: 4px 20px 10px 32px ;
}
#B:hover{
   background-color:#6bfa80;
}

.main :nth-child(3){
    background-color: #f00a11;
    grid-area: c;
    border-radius: 10px;
    padding: 4px 20px 10px 32px ;
}
.main :nth-child(3):hover{
   background-color:#dd6c55;
}
.main :nth-child(4){
    background-color:#40a3e0;
    grid-area: d;
    border-radius: 5px;
 padding: 4px 20px 10px 32px ; */
}
.main :nth-child(4):hover{
   background-color:#7ac2ee;
}
a{
   text-decoration: none;
   color: rgb(243, 217, 217);
}
