body {
  margin: 0;
  padding: 0;
}
#down_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.weekly_pics {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.weekly_pics img {
  width: 100%;
  height: 175px;
  margin: 0 50px;
}
.weekly_pics img:hover {
  box-shadow: rgba(0, 0, 1, 0.24) 5px 3px 8px;
}
.cards {
  width: 100%;
  display: flex;
  padding: 0 s0px;
  justify-content: space-evenly;
}
.down_two_img {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}
.down_two_img img {
  width: 522px;
  height: 100%;
}
.down_two_img img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.down_rupees {
  padding: 0;
  margin: 0;
  line-height: 0.35em;
}

.down_rupees :nth-child(3) {
  color: rgb(219, 91, 198);
}
.down_rupees :nth-child(1) {
  text-decoration: line-through;
}
.cards > img {
  width: 380px;
  height: 316px;
  margin: 10px;
}
.cards > img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px;
}
.down_center_heading {
  margin: 15px;
  font-size: 34px;
  letter-spacing: 2px;
}
.card_dn button {
  width: inherit;
  border: none;
  padding: 8px 5px;
  background-color: black;
  color: white;
  font-size: 14px;
}
.card_dn button:hover {
  background-color: pink;
  color: black;
}
.card_dn {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  margin: 20px;
  width: 200px;
}
.card_dn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card_dn div {
  margin: 5px 0 10px 0;
}
.card_dn img {
  width: 200px;
  height: 250px;
  margin-bottom: 10px;
}
.card_dn img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hd-last > img {
  height: 100%;
  width: 100%;
}
.hd-last >img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hd-last {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

@media only screen and (min-width: 0) and (max-width: 320px) {
  .weekly_pics {
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
  }

  .weekly_pics img {
    margin: 10px 0;
    width: 100%;
  }
  .cards {
    flex-direction: column;
    width: 90%;
    padding: 0;
  }
  .down_two_img {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .down_two_img img {
    width: 100%;
    margin: 10px 0;
  }
  .card_dn {
    /* width: 100%; */
    margin: 10px auto;
  }
  .cards > img {
    width: 100%;
    /* height: 316px; */
    margin: 10px 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .weekly_pics {
    flex-direction: column;
    margin: 10px auto;
    width: 50%;
  }

  .weekly_pics img {
    margin: 10px auto;
  }
  .cards {
    flex-direction: column;
    padding: 0;
  }
  .down_two_img {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .down_two_img img {
    width: 50%;
    margin: 10px auto;
  }
  .card_dn {
    margin: 10px auto;
  }
  .cards > img {
    width: 50%;
    height: 316px;
    margin: 10px auto;
  }
}
